<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>
  <div class="cards">
    <%data.forEach (val=> { %>
    <h2><%= val.name %></h2>
    <img src="<%= val.img %>" alt="">
    <h3><%= val.level %></h3>

    <form action="/details/<%= val.id%>" method="GET">
        <input type="submit" value="View-Details">
    </form>
    
  </div>
  <% }) %>
</body>

</html>